<h3>Taking Quiz...</h3>
<%= form_tag :action => 'save_quiz_data' %>
<%= hidden_field_tag :quiz_id, @quiz.id %>
<%= hidden_field_tag :assignment_id, @assignment.id %>


<table class="table table-bordered">
  <tr>
    <th>Question</th>
    <th>Options</th>

  </tr>
  <% @questions.each do |question| %>
      <tr>
        <td style="font-size: 14px">

          <b><%= question.statement %></b>
        <td style="font-size: 14px">

          <% if !question.optiona.blank? %>
              <%= radio_button_tag "#{question.id}", 1 %>
              <b>  <%= question.optiona %></b>
              <br>
          <% end %>


          <% if !question.optionb.blank? %>
              <%= radio_button_tag "#{question.id}", 2 %>
              <b>  <%= question.optionb %></b>
              <br>
          <% end %>

          <% if !question.optionc.blank? %>
              <%= radio_button_tag "#{question.id}", 3 %>
              <b><%= question.optionc %></b>

              <br>
          <% end %>

          <% if !question.optiond.blank? %>
              <%= radio_button_tag "#{question.id}", 4 %>
              <b><%= question.optiond %></b>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<%= submit_tag "Confirm Answers", :class => "btn-primary" %>